.cs-tw-follow-button {
  cursor: pointer;
  margin-left: 16px;
  border: 0.3;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
}

.cs-tw-follow-button:active {
  transform: scale(0.98);
}

.cs-tw-follow-button:focus {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}
.cs-tw-follow-button:hover {
  background: rgba(22, 2, 199, 0.877);
  transition: 0.3s ease background-color;
  color: #ffffff;
}
